header {
    background:gold;
    color:blue;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    font-size:70%;	      
}
section {
    width:80%;
    float:left;
    padding:10px;	 	 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    float:bottom;	 	 
}
table {
margin:10px

}


.Greeting{
	text-align:center;
	color: black;

}

select {
<<<<<<< HEAD
=======
	background-color: #dbe4f4;
}
button.GetClasses{
	color: green;
	width: 100px;
	padding: 10px;
	outline: black double;
}	

select {
>>>>>>> upstream/master
	padding: 10px;
	height:inherit
}
