.padded {
	margin-top: 20px;
	margin-bottom: 20px;
}

.centerButton {
	margin: 0 auto;
	display: block;
}
footer{
height: 10px;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}