{% extends "layout.html" %}
  
{% block content %}
<h3 align = "center"> Add Your Textbook to the message board!</h3>

<form  id="TextbookSubmit" method="post">
<div class = "row">
<label>Select the department that your textbook falls under</label>
  <select required class="browser-default" id="DepartmentSelect" name="DepartmentSelect">
    <option value="" disabled selected>Choose your option</option>
    {% for key in SubjectOptionKeys %}
        <option value = "{{SubjectOptions[key]}}"> {{key}} </option>
    {% endfor %}
  </select>
</div>

<div class = "col s3"> 
		<div class="input-field col s12">
				<textarea id="TextbookName" name="TextbookName" class="materialize-textarea"></textarea>
				<label for="TextbookName">Textbook Title</label>
		</div>
</div>
<div class = "col s3"> 

		<div class="input-field col s12">
				<textarea id="price" name="price" class="materialize-textarea"></textarea>
				<label for="price">Textbook Price (Include only numbers, no decimal point or dollar sign </label>
		</div>

</div> 
<div class = "col s3"> 
		<div class="input-field col s12">
				<textarea id="course" name="course" class="materialize-textarea"></textarea>
				<label for="course">What Course is this textbook for?</label>
		</div>
</div>
<div class = "col s3"> 
		<div class="input-field col s12">
				<textarea id="Email" name="Email" class="materialize-textarea"></textarea>
				<label for="Email">Email (Don't worry, we won't show this publically)</label>
		</div>


</div>
<div class = "col s3"> 
		<div class="input-field col s12">
		<textarea id="TextbookDescription" name="TextbookDescription" class="materialize-textarea"></textarea>
		<label for="TextbookDescription">Description of Textbook </label>
	</div>
</div>
<input class="btn btn-large blue lighten-2 centerButton" style="display:block;" type="submit" value="Add Textbook"></input>
    </div>
</row>
</form>




{% endblock %}
