{% extends "layout.html" %}
{% block content %}
<h2 align = "middle"> Best Classes for ....</h2> 
<table>
	<tr> 
		{% for i in SubjectsSorted%}
			<td><button onclick = "GoToURL(getElementById('BestClassesFor{{i}}'))"> {{i}} </button> </td>
		{% endfor %}
	</tr>
	<tr>
		{% for i in Indexs %}
			<td>
			<select size = "5" id = "BestClassesFor{{SubjectsSorted[i]}}"> 
			{% for course in Courses[i] %}
				<option value = "{{course[0]}}-{{course[1]}}-{{course[2]}}"> {{course[0]}} </option> 
			{% endfor %}
			</select>
			</td>
		{% endfor %}	
	</tr>
<h2 align="middle"> Best Classes for ....</h2> 

<div class="row">
	{% for i in Indexs %}
	<div class="col l3 s6">
		<h6 align="center">{{ SubjectsSorted[i] }}</h6>
		<div class="collection">
		{% for course in Courses[i][1:50] %}
			<a class="collection-item" href="/class_info/{{course[0]}}/{{course[1]}}/{{course[2]}}">{{course[0]}}</a>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
