{% extends "layout.html" %}
{% block content %}
<h3> Congratulations, you've made it to the secret shrine to Henry Long</h3>


<table class = "bordered"> 
	<thead>
		<tr>
			<th> Organization </th>
			<th> Aclaim </th>
			<th> Hero </th>
		</tr>
	<tbody>
          <tr>
            <td>Time</td>
            <td><a target = "_blank" href = "http://time.com/3628249/sia-chandelier-video-college-student-dance/"> Henry Featured in Time!! </a></td>
            <td>Henry Long</td>
          </tr>
          <tr>
            <td>South Bend Tribune</td>
            <td><a target = "_blank" href = "http://www.southbendtribune.com/news/local/notre-dame-chandelier-parody-goes-viral/article_0988325c-816e-11e4-a443-5360c531f9fa.html"> South Bend Tribune catches wind of Henry Long </a> </td>
            <td>Ya Boy from Des Moines</td>
          </tr>
          <tr>
            <td>Huffington post</td>
            <td><a  target = "_blank"href = "http://www.huffingtonpost.com/2014/12/11/college-student-sia-chandelier-notre-dame-video_n_6311422.html" > The Huffington Post can't get enough of Notre Dame's golden boy! </a> </td>
            <td> The champion of the Tutu</td>
          </tr>
          <tr>
            <td>MTV </td>
            <td><a target = "_blank" href = "http://www.mtv.com/news/2022522/man-tutu-sia-chandelier-video/" > Henry Long the next big start of MTV </a> </td>
            <td> The boy with all the moves </td>
          </tr>
        </table>
		<br> <br>

<div class="video-container">
		<iframe width="460" height="215" src="http://www.youtube.com/embed/-qaBH0SO4wc" frameborder="0" allowfullscreen></iframe>
	
   </div>
{% endblock %}
