{% extends "layout.html" %}
  
{% block content %}

<div class="row">
	<form class="col s12 row" id="ClassSearchForm" method="post">
		<div class="col s6">
			<label>Term</label>
			<select class="browser-default" id="TermOptions" name="TermOptions">
				{% for key in TermOptionKeys %}
				<option value='{{ TermOptions[key] }}'>{{key}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col s6">
			<label>Division</label>
			<select class="browser-default" id="DivisionOptions" name="DivisionOptions">
				{% for key in DivisionOptionKeys %}
   				<option value='{{DivisionOptions[key]}}'>{{key}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col s6">
			<label>Campus</label>
			<select class="browser-default" id="CampusOptions" name="CampusOptions">
				{% for key in CampusOptionKeys %}
   				<option {% if key == 'Main' %}selected="selected"{% endif %} value='{{CampusOptions[key]}}'>{{key}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col s6">
			<label>Subject</label>
			<select class="browser-default" id="SubjectOptions" name="SubjectOptions">
				{% for key in SubjectOptionKeys %}
   				<option value='{{SubjectOptions[key]}}'>{{key}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col s6">
			<label>Attribute</label>
			<select class="browser-default" id="AttributeOptions" name="AttributeOptions">
				{% for key in AttributeOptionKeys %}
   				<option value='{{AttributeOptions[key]}}'>{{key}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col s6">
			<label>Credits</label>
			<select class="browser-default" id="CreditsOptions" name="CreditsOptions">
				{% for key in CreditsOptionKeys %}
   				<option {% if key == 'All' %}selected="selected"{% endif %}value='{{CreditsOptions[key]}}'>{{key}}</option>
				{% endfor %}
			</select>
		</div>
	<input class="blue lighten-1 btn waves-effect padded" type="submit" value="Search Classes"> </input>
	</form>
	<div class="col s6">
			<label>Quick Search for University Requirements</label>
			<select class="browser-default" id="QuickSearch" name="QuickSearch">
				{% for key in ['2nd Theology', '2nd Philosophy', 'Social Science',  'Natural Science (req)', 'Fine Arts', 'Literature', 'History', "Sophomore Business Courses", "Junior Business Courses"] %}
   				<option value='{{key}}'>{{key}}</option>
				{% endfor %}
			</select>
		</div>
</div>
<div class = "row">
	<input class="blue lighten-1 btn waves-effect padded" type="submit" value="Search Classes" onclick = "QuickSearch();"> </input>
</div>

{% endblock %}
