{% extends "layout.html" %}
  
{% block content %}
<div id="ClassSearchInput">
<form id = "ClassSearchForm" method = "post">
<table>
	<tr> 
		<td> Term:
			<select id = "TermOptions" name = "TermOptions">
			{% for key in TermOptionKeys %}
   				<option value = {{TermOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			document.getElementById('TermOptions').options[0].selected = true;
			</script>
			</select>
		</td>	
		<td> Division: 
			<select id = "DivisionOptions" name = "DivisionOptions">
			{% for key in DivisionOptionKeys %}
   				<option value = {{DivisionOptions[key]}}> {{key}} </option>
			{% endfor %}
			</select>
		</td>
		<td > Campus: 
			<select id = "CampusOptions" name = "CampusOptions">
			{% for key in CampusOptionKeys %}
   				<option value = {{CampusOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			DefaultSelect("CampusOptions", "M");
			
			</script>
			</select>
		</td>
	</tr>
	<tr> 
		<td> Subjects: 
			<select size = 5 multiple = "true" id = "SubjectOptions" name = "SubjectOptions" >
			{% for key in SubjectOptionKeys %}
   				<option value = {{SubjectOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			document.getElementById('SubjectOptions').options[0].selected = true;
			</script>
			</select>
			
		</td>
		<td>Attributes:
			<select id = "AttributeOptions" name = "AttributeOptions">
			{% for key in AttributeOptionKeys %}
   				<option value = {{AttributeOptions[key]}}> {{key}} </option>
			{% endfor %}
			
			</select>
		</td>
		<td> Credits: 
			<select id = "CreditsOptions" name = "CreditsOptions">
			{% for key in CreditsOptionKeys %}
   				<option value = {{CreditsOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			DefaultSelect("CreditsOptions", "A");
			</script>
			</select>
			
		</td>
	</tr>

</table>
	<input type = "submit" value = "Search Classes"> </input>
</form>
</div>
{% endblock %}