{% extends "layout.html" %}
  
{% block content %}

<h1 align="center">{{CourseName}}</h1>
<div class="row">
	<button data-target="modal1" class="btn modal-trigger col s4 offset-s4">Watch Class</button>
</div>
<div id = "Sections">
	<table>
		<thead>
			<tr>
				<th data-field="toughness">Toughness</th>
				<th data-field="interest">Interest</th>
				<th data-field="textbook-needed">Textbook Needed</th>
				<th data-field="overall">Overall</th>
			<tr>
		<thead>
			<tr>
				<td>{% if toughness %}{{ toughness }}{% else %}None{% endif %}</td>
				<td>{% if interest %}{{ interest }}{% else %}None{% endif %}</td>
				<td>{% if Textbook %}{{Textbook * 100 }}% of reviews said yes {% else %}None{% endif %}</td>
				<td>{% if Overall_Rating %}{{ Overall_Rating }}{% else %}None{% endif %}</td>
			</tr>
		<tbody>
		</tbody>
	</table>
	<h4 align="center"> Reviews </h4>
	<div class="row">
		<ul class="collapsible" data-collapsible="accordian">
			<li>
				<div class="collapsible-header active"><i class="material-icons">add</i>Course Reviews</div>
      				<div class="collapsible-body">
					<ul class="collection">
					{% for review in Individual_Reviews %}
						<li class="collection-item">
							<table>
								<tr>
									<td> Toughness: {{review[4]}} </td>
									<td> Interest: {{review[5]}}  </td>
									<td> Date: {{review[12]}} </td>
									<td> Semester: {{review[9]}} </td>
 							 	</tr>
								<tr>
									{{review[3]}} 
								</tr>
							</table>
						</li>
					{% endfor %}
					</ul>
				</div>
			</li>
		</ul>
	</div>


	<h4 align="center">Course Information</h4>
	<div class="row">
		<ul class="collapsible" data-collapsible="accordian">
			<li>
				<div class="collapsible-header active"><i class="material-icons">add</i>Course Description</div>
      				<div class="collapsible-body"><p>{{ CourseDescription }}</p></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">add</i>Prerequisites</div>
      				<div class="collapsible-body"><p>{{ Prerequisites }}</p></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">add</i>Corequisites</div>
      				<div class="collapsible-body"><p>{{ Corequisites }}</p></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">add</i>Restrictions</div>
      				<div class="collapsible-body">
					<ul class="collection">
					{% for i in Restrictions %}
						<li class="collection-item">{{i}}</li>
					{% endfor %}
					</ul>
				</div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">add</i>Attributes</div>
      				<div class="collapsible-body">
					<ul class="collection">
					{% for i in Attributes %}
						<li class="collection-item">{{i}}</li>
					{% endfor %}
					</ul>
				</div>
			</li>
			<li> 
				<div class = "collapsible-header"> <i class = "material-icons">add</i>Bookstore Textbook info</div>
					<div class = "collapsible-body">
						<ul class="collection">
						{% for i in range(number_of_textbooks) %}
							<li class="collection-item"> 
							Title: {{ Textbooks[i]["title"] }} <br>
							Author: {{ Textbooks[i]["author"] }}<br>
							ISBN: {{ Textbooks[i]["isbn"] }} <br> 
							<a href ="http://www.amazon.com/gp/search/ref=sr_adv_b/?search-alias=stripbooks&unfiltered=1&field-keywords=&field-author=&field-title=&field-isbn={{Textbooks[i]['isbn'] }}&field-publisher=&node=&field-p_n_condition-type=&p_n_feature_browse-bin=&field-subject=&field-language=&field-dateop=During&field-datemod=&field-dateyear=&sort=relevanceexprank&Adv-Srch-Books-Submit.x=47&Adv-Srch-Books-Submit.y=1" target = "_blank"> Find textbook on Amazon </a><br>
							{% if i < num_required %} 
								<br>Required <br>
							{% else %}
								<br>Recommended <br>
							{% endif %}
							<table> 
								<thead>
									<tr>
										<th> New/Used </th>	
										<th> Price </th>	
										<th> Buy/Rent </th> 
										<th> Type </th>
									</tr>
								</thead>
								<tbody>
									{%  for option in Required_textbook_info[i] %}
									<tr> 
										<td> {{ option["Option"]}} </td>
										<td> {{ option["Price"]}} </td>
										<td> {{ option["Buy/Rent"]}} </td>
										<td> {{ option["Type"]}} </td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							</li>
						{% endfor %}
						</ul>
						{% if number_of_textbooks == 0 %}
							<p> No textbook information available at this time </p>
						{% endif %}
					</div>

			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">add</i>Registration</div>
      		<div class="collapsible-body"> 
      			<p> Maximum: {{Registration[0]}} <br> 
      			Enrolled: {{Registration[1]}} <br>
      			Remaining: {{Registration[2]}} <br> </p>
      		</div>
			</li>
		</ul>
	</div>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content row">
      <form id="modal-form" class="col s12" method="POST">
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="123456789" id="phone_number" type="tel" class="validate" length="10">
					<label for="phone_number">Phone Number:</label>
				</div>
				<input id="modal-crn" type="hidden" value="{{crn}}">
			</div>
			<div class="modal-footer">
				<button id="modal-submit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
			</div>
		</form>
    </div>
  </div>

{% endblock %}
