{% extends "layout.html" %}
  
{% block content %}

<input type="button" value="Go Back" onclick="history.back()"></input>
<input type="button" value="Go Forward" onclick="history.forward()"></input>
<h2 align = "middle"> {{Department}} </h2>
<div class="row">
	<div class="col s3">
		<h5 align="center"> Teachers</h5>
		<ul class="collection">
			{% for teacher in Teachers %}
			<a href = "../../instructor_info/{{teacher}}" class="collection-item">{{teacher}}</a>	
			{% endfor %}
		</ul>
	</div>
	<div class="col s3">
		<h5 align="center">Best Teachers</h5>
		<ul class="collection">
			{% for teacher in Best_Teachers_Sorted %}
			<a href = "../../instructor_info/{{teacher}}" class="collection-item">{{ teacher }}: {{Best_Teachers[teacher]}}</a>	
			{% endfor %}
		</ul>
	</div>
	<div class="col s3">
		<h5 align="center">Easiest Teachers</h5>
		<ul class="collection">
			{% for teacher in Easiest_Teachers_Sorted %}
			<a href = "../../instructor_info/{{teacher}}" class="collection-item">{{ teacher }}: {{Easiest_Teachers[teacher]}}</a>	
			{% endfor %}
		</ul>
	</div>
	<div class="col s3">
		<h5 align="center">Most Interesting Classes</h5>
		<ul class="collection">
			{% for course in Best_Classes_Sorted %}
			<a href = "../../class_info/{{course}}-{{Best_Classes[course][1]}}-{{Best_Classes[course][2]}}"class="collection-item">{{ course }}: {{Best_Classes[course][0]}}</a>	
			{% endfor %}
		</ul>
	</div>
	<div class="col s3">
		<h5 align="center">Easiest Classes</h5>
		<ul class="collection">
			{% for course in Easiest_Classes_Sorted %}
			<a href = "../../class_info/{{course}}-{{Easiest_Classes[course][1]}}-{{Easiest_Classes[course][2]}}" class="collection-item">{{course}}: {{Easiest_Classes[course][0]}}</a>	
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
