{% extends "layout.html" %}
  
{% block content %}
<h2 align = "middle"> Search Departments for Class and Professor Information </h2>

<div class="row">
	{% for college in DepartmentsByCollege[0:4] %}
	<div class="col l3 s6">
		<h6 align="center"> {{college[0]}} </h6>
		<div class="collection">
		{% for department in college[1:] %}
			<a class="collection-item" href="/Department/{{department}}">{{department}}</a>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
<div class="row">
	{% for college in DepartmentsByCollege[4:] %}
	<div class="col l3 s6">
		<h6 align="center"> {{college[0]}} </h6>
		<div class="collection">
		{% for department in college[1:] %}
			<a class="collection-item" href="/Department/{{department}}">{{department}}</a>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
