{% extends "layout.html" %}
{% block content %}
<table>
	<tr> 
		<td> Term:
			<select id = "TermOptionsTwo">
			{% for key in TermOptionKeys %}
   				<option value = {{TermOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			document.getElementById('TermOptionsTwo').options[0].selected = true;
			</script>
			</select>
		</td>	
		<td> Division: 
			<select id = "DivisionOptionsTwo">
			{% for key in DivisionOptionKeys %}
   				<option value = {{DivisionOptions[key]}}> {{key}} </option>
			{% endfor %}
			</select>
		</td>
		<td > Campus: 
			<select id = "CampusOptionsTwo">
			{% for key in CampusOptionKeys %}
   				<option value = {{CampusOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			DefaultSelect("CampusOptionsTwo", "M");
			
			</script>
			</select>
		</td>
	</tr>
	<tr> 
		<td> Subjects: 
			<select size = 5 multiple = "true" id = "SubjectOptionsTwo" >
			{% for key in SubjectOptionKeys %}
   				<option value = {{SubjectOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			document.getElementById('SubjectOptionsTwo').options[0].selected = true;
			</script>
			</select>
			
		</td>
		<td>Attributes:
			<select id = "AttributeOptionsTwo">
			{% for key in AttributeOptionKeys %}
   				<option value = {{AttributeOptions[key]}}> {{key}} </option>
			{% endfor %}
			
			</select>
		</td>
		<td> Credits: 
			<select id = "CreditsOptionsTwo" name = "CreditsOption">
			{% for key in CreditsOptionKeys %}
   				<option value = {{CreditsOptions[key]}}> {{key}} </option>
			{% endfor %}
			<script>
			DefaultSelect("CreditsOptionsTwo", "A");
			
			</script>
			</select>
			
		</td>
	</tr>

</table>
<table>
	<tr>
		<td>  <button onclick="SearchClassesUrl(true);"> Search Classes </button> </td<
		<td> Click on a course or professor for info and past reviews </td>
	</tr>
</table>
  
<table border = "1" class = "ClassData">
		<tr>
			{% for key in Keys %}
				{% if key != 'Teacher_Info'%}
					<td> {{key}} </td>
				{% endif %}
			{% endfor %}
		</tr>
	{% for class in ClassList %}
		<tr> 
			{% for i in Keys %}
				{% if i == 'Title' %}
					<td>  <a href ="/class_info/{{class[i]}}" target="_blank"> {{class[i]}} </a> </td>
				{% elif i == 'View_Books' %}
					<td> <a href = "{{class[i]}}" target="_blank" > View Books </a> </td>
				{% elif i == 'Instructor' %}
					<td> <a href ="/instructor_info/{{class[i]}}" target="_blank"> {{class[i]}} </a> </td>
				{% elif i  == 'Teacher_Info' %}
					
				{% else %}
					<td> {{class[i]}} </td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
</table>
{% endblock %}