{% extends "layout.html" %}
  
{% block content %}
<h2 id = "ProfessorName"> {{ProfessorName}} </h2> <button id = "SubmitProfessorReview" onclick = " location.href = '/ProfessorReviewForm/{{ProfessorName}}'" > Submit review for this Professor </button>
<p> {{ID}} </p>

<div id="Sections">
	<div id="left" >
		<h3 align = "center"> Courses Taught </h3>
		<table border = "1" id = "ClassesTaughtTable">
				<tr>
					<td> Course </td>
					<td> Semester Taught </td>
					<td> Title </td>
				</tr>
			{% for course in Courses %}
				<tr> 
					<td><a href = "/class_info/{{course[2]}}-{{course[3]}}-{{course[4]}}"> {{course[0]}}</a> </td> 
					<td> {{course[1]}} </td>
					<td> {{course[2]}} </td>
				</tr>
			{% endfor %}
		</table>
			
   	</div>
    	<div id="right">
		<h3 align = "center"> Evaluations </h3>
		<table id = "EvaluationsTable" border = "1"> 
			<tr>
					<td align = "center"> Rating Category </td>
					<td align = "center"> Score </td>
			</tr>
			<tr>
				<td align = "center"> Grading </td>
				<td align = "center"> {{grading}} </td>
			</tr>
			<tr>
				<td align = "center"> Quality </td>
				<td align = "center"> {{quality}} </td>

			</tr>
			<tr>
				<td align = "center"> Workload </td>
				<td align = "center"> {{workload}}</td>

			</tr>
			<tr>
				<td align = "center"> Accessibility </td>
				<td align = "center"> {{accessibility}} </td>

			</tr>
		</table>
		<table>
			{% for description in ProfessorDescriptions %}
				<tr> 
					<td> {{description}} </td>

				</tr>
			{% endfor %}	
		</table>
		

		
		
    	</div>
</div>

{% endblock %}