<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainCSS.css') }}">	
	<script> function DefaultSelect(element_ID,value){
			var option = document.getElementById(element_ID);
			for (var i = 0; i < option.options.length; i = i + 1){
				if (option.item(i).value == value){
					option.selectedIndex = i;
				}
			}
		}
	</script>
	
	<script> function SearchClassesUrl(DataPresent){
			if (DataPresent){
				var term_element = document.getElementById('TermOptionsTwo');
				var term = term_element.options[term_element.selectedIndex].value;
				var subject_element = document.getElementById('SubjectOptionsTwo');
				var subject = subject_element.options[subject_element.selectedIndex].value;

				var credit_element = document.getElementById('CreditsOptionsTwo');
				var credit = credit_element[credit_element.selectedIndex].value;		
	
				var attribute_element = document.getElementById('AttributeOptionsTwo');
				var attribute = attribute_element.options[attribute_element.selectedIndex].value;		


				var division_element = document.getElementById('DivisionOptionsTwo');
				var division = division_element.options[division_element.selectedIndex].value;		

				var campus_element = document.getElementById('CampusOptionsTwo');
				var campus = campus_element.options[campus_element.selectedIndex].value;
				var url = ''.concat('http://localhost:5000/class_search/Term=', term,'/Subject=',subject,'/Credit=',credit, '/Attr=', attribute, '/Division=' , division, '/Campus=', campus);
				location.replace(url)
			}
			else {
				var term_element = document.getElementById('TermOptions');
				var term = term_element.options[term_element.selectedIndex].value;

				var subject_element = document.getElementById('SubjectOptions');
				var subject = subject_element.options[subject_element.selectedIndex].value;

				var credit_element = document.getElementById('CreditsOptions');
				var credit = credit_element[credit_element.selectedIndex].value;		
	
				var attribute_element = document.getElementById('AttributeOptions');
				var attribute = attribute_element.options[attribute_element.selectedIndex].value;		


				var division_element = document.getElementById('DivisionOptions');
				var division = division_element.options[division_element.selectedIndex].value;		

				var campus_element = document.getElementById('CampusOptions');
				var campus = campus_element.options[campus_element.selectedIndex].value;
				var url = ''.concat('http://localhost:5000/class_search/Term=', term,'/Subject=',subject,'/Credit=',credit, '/Attr=', attribute, '/Division=' , division, '/Campus=', campus);
				location.replace(url)
			}
			
			
		}
	</script>
	
	<script> function SearchInstructorByCollege() {
			var instr_element = document.getElementById('College');
			var instr = instr_element.options[instr_element.selectedIndex].value;
			var url = ''.concat('http://localhost:5000/InstructorByCollege/', instr);
			document.getElementById('TeacherInfoFrame').src = url
	}
		function SearchInstructorByDepartment(){
			var instr_element = document.getElementById('Department');
			var instr = instr_element.options[instr_element.selectedIndex].value;
			var url = ''.concat('http://localhost:5000/Department/', instr);
			document.getElementById('TeacherInfoFrame').src = url


		
	}
	</script>
	<script> function GoToDepartment(element) {
			var department = element.options[element.selectedIndex].value;
			location.href = "".concat("../Department/" + department);
		}
		
	</script> 
	<script> function IframeTeacherSearch(element){
			var teacher = element.options[element.selectedIndex].value;
			location.href = "".concat("../instructor_info/", teacher);
		}
	</script>
	<script> function GoToURL(element){
			var course = element.options[element.selectedIndex].value;
			location.href = "".concat("../class_info/", course);
	}
	</script>
	<script>
		function CreateRatingsSelect(elementID){
			element = document.getElementById(elementID);
			var opt = document.createElement('option')
			opt.value = '-- select an option --';
			opt.innerHTML = '-- select an option --';
			element.appendChild(opt);
			for (var i = 0; i<=10; i++){
    				var opt = document.createElement('option');
   				opt.value = i;
  				opt.innerHTML = i;
  				element.appendChild(opt);
			}
		}
	</script>
	<script>
		function CheckBeforeSubmitting(){
			var form = document.getElementById('formID'); 
			
			var ToughnessElement = document.getElementById('ToughnessID');
			var Toughness = ToughnessElement.options[ToughnessElement.selectedIndex].value;

			var GradingElement = document.getElementById('GradingID');
			var Grading = GradingElement.options[GradingElement.selectedIndex].value;

			var InterestLevelElement = document.getElementById('InterestID');
			var InterestLevel = InterestLevelElement.options[InterestLevelElement.selectedIndex].value;

			var WorkloadElement = document.getElementById('WorkloadID');
			var Workload = WorkloadElement.options[WorkloadElement.selectedIndex].value;

			var QualityElement = document.getElementById('QualityID');
			var Quality = QualityElement.options[QualityElement.selectedIndex].value;
			
			var TextbookElement = document.getElementById('TextbookNeeded');
			var Textbook = TextbookElement.options[TextbookElement.selectedIndex].value;
			
			var CourseElement = document.getElementById('CoursesTaughtID');
			var Course = CourseElement.options[CourseElement.selectedIndex].value;
        		if (Textbook === '-- select an option --' || Workload === '-- select an option --' || 
			Quality === '-- select an option --' ||InterestLevel === '-- select an option --' ||
			Grading === '-- select an option --' || Toughness == '-- select an option --' 
			|| Course == '-- select an option --') {
            			alert('Please fill out all required forms'); // error message
				return true;
       			}
			return false;
		}
	</script>
	</head>
	<body>

	<header>
		<h1>Class Search</h1>
	
	</header>


	<nav>
		Quick Links<br><br />
		<a href="/">Home</a><br>
		<a href ="http://giphy.com/gifs/jon-stewart-the-daily-show-with-Cb30tFby1yCTm"> Submit a review </a> <br>
		<a href="/class_search/">Search Classes</a><br>
		<a href="/instructor_eval/">Instructor Evaluations</a><br>
		<a href="/DepartmentsMain/">Departments </a><br>
		<a href = "/BestClassesFor/"> Best Classes For ... </a>
		</nav>


	<div class="container">
		{% block content%}
		{% endblock %}
	</div>

	<footer>
		Created by Zach Janicki and Pierce Cunneen
	</footer>

	</body>
</html>