<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainCSS.css') }}">;
	</head>
	<body>

	<header>
		<h1>Class Search</h1>
	</header>


	<nav>
		Quick Links<br><br />
		<a href="/">Home</a><br><br>
		<a href="/class_search/">Search Classes</a><br><br />
		<a href="/instructor_eval/">Instructor Evaluations</a><br><br />
		</nav>


	<div class="container">
		{% block content%}
		{% endblock %}
	</div>

	<footer>
		Created by Pierce Cunneen and Zach Janicki 
	</footer>

	</body>
</html>