<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainCSS.css') }}">	
	<script> function DefaultSelect(element_ID,value){
			var option = document.getElementById(element_ID);
			for (var i = 0; i < option.options.length; i = i + 1){
				if (option.item(i).value == value){
					option.selectedIndex = i;
				}
			}
		}
	</script>
	<script> function GetClasses(){
			alert('Place Holder alert')
		}
	
	</script>
	</head>
	<body>

	<header>
		<h1>Class Search</h1>
	
	</header>


	<nav>
		Quick Links<br>
		<a href="/">Home</a><br>
		<a href="/class_search/">Search Classes</a><br>
		</nav>


	<div class="container">
		{% block content%}
		{% endblock %}
	</div>

	<footer>
		Created by Pierce Cunneen and Zach Janicki 
	</footer>

	</body>
</html>