{% extends "layout.html" %}

{% block content %}
{% if error %}
		<h3 class = "error"> <strong> Error: </strong> {{ error }} </h3>
{% endif %}
<div class = "row">
	<form class = "col s12" id = "AuthenticationForm" method = "post">
		<div class = "row"> 
			<div class= "input-field col s6"> 
				<input placeholder = "Username"id = "username" name = "username"type = "text" class = "validate">
				<label for = "username"> Username </label>

			</div>
			<a href = "../register"class="waves-effect waves-light btn">New User? Click here to register!!</a>
		</div>
		<div class = "row"> 
			<div class= "input-field col s6"> 
				<input placeholder = "Password"id = "password" name = "password" type = "text" class = "validate">
				<label for = "password"> Password </label>
			</div>
		</div>
	<input class="btn btn-default" type="submit" value="Login">
	</form>
	
</div>

{% endblock %}
