{% extends "layout.html" %}

{% block content %}
{% if error %}
		<h3 class = "error"> <strong> Error: </strong> {{ error }} </h3>
{% endif %}
<div class="row">
	<form class = "col s12 row" id="AuthenticationForm" method="post">
		<div class = "row"> 
			<div class="col s12 row">
				<a href="../register" class="col s12 waves-effect waves-light btn btn-large">New User? Click here to register!!</a>
			</div>
			<div class= "input-field col s12"> 
				<input placeholder = "Email or Username"id = "username" name = "username" type = "text" class = "validate">
				<label for = "username"> Email or Username </label>
			</div>
		</div>
		<div class = "row"> 
			<div class= "input-field col s6"> 
				<input placeholder = "Password"id = "password" name = "password" type = "PASSWORD" class = "validate">
				<label for = "password"> Password </label>
			</div>
		</div>
		<div class="col s12">
			<input type = "checkbox" id = "RememberMe" name = "RememberMe"/> 
			<label for = "RememberMe"> Remember Me? </label>
		</div>
		<div class="col s12">
			<input class="btn btn-default" type="submit" value="Login">
		</div>
	</form>
	
</div>

{% endblock %}
