{% extends "layout.html" %}
{% block content %}
<form onsubmit = "if (CheckBeforeSubmitting()){return false;};" id = "formID" method = "post">

<h2 align = "middle"> Review for {{ProfessorName}} </h2>
<table style = "border-spacing: 70px 10px;">
	<tr>
		<td> Choose a course to review: 
		</td>
		<td> Course ratings: </td>
		<td> Professor ratings: </td>
	</tr>
	<tr>
		<td>
			<select id = "CoursesTaughtID" name = "CoursesTaughtID" >   
				<option value = '-- select an option --'> -- select an option -- </option>
				{% for course in CoursesTaught %}
					<option > {{course}} </option>
				{% endfor %}
			</select> 
		</td>
		<td> Toughness <select id = "ToughnessID" name = "ToughnessID"><script> CreateRatingsSelect('ToughnessID'); </script> </select> </td>
		<td> Grading  <select id = "GradingID" name = "GradingID"><script> CreateRatingsSelect('GradingID'); </script> </select> </td>

	</tr>
	<tr>
		<td> </td>
		<td> Interest Level<br> <select id = "InterestID" name = "InterestID" ><script> CreateRatingsSelect('InterestID'); </script> </select> </td>
		<td> Workload  <select id = "WorkloadID" name = "WorkloadID"><script> CreateRatingsSelect('WorkloadID'); </script> </select> </td>

	</tr>
	<tr>
		<td> </td>
		<td> Was the Textbook necessary?
			<select id = "TextbookNeeded" name = "TextbookNeeded"> 
				<option value = '-- select an option --'> -- select an option -- </option>
				<option value = 'Yes'> Yes </option>
				<option value = 'No'> No </option>
			</select>
 		</td>
		<td> Quality  <select style = "float: top;" id = "QualityID" name = "QualityID"><script> CreateRatingsSelect('QualityID'); </script> </select> </td>
	</tr>
	<tr> 
		<td> </td>
		<td> </td>
		<td> </td>
		<td> Description of Course and Teacher (optional) <textarea  style = "height: 100px; width: 300px;" id = "OptionalResponse" name = "OptionalResponse" > </textarea> </td>
	</tr>
</table>
	<input type='submit' required>
</form>

{% endblock %}