{% extends "layout.html" %}
{% block content %}
<form onsubmit = "if (CheckBeforeSubmitting()){return false;};" id = "formID" method = "post">

<h2 align = "middle"> Review for {{ProfessorName}} </h2>
<table>
	<tr>
		<td> Choose a course to review: 
		</td>
		<td> Course ratings: </td>
		<td> Professor ratings: </td>
	</tr>
	<tr>
		<td>
			<select id = "CoursesTaughtID" name = "CoursesTaughtID" >   
				<option value = '-- select an option --'> -- select an option -- </option>
				{% for course in CoursesTaught %}
					<option value = "{{course[2]}} {{course[3]}} {{course[4]}}" > {{course[2]}} {{course[1]}} </option>
				{% endfor %}
			</select> 
		</td>
		<td> Toughness <br> <select id = "ToughnessID" name = "ToughnessID"><script> CreateRatingsSelect('ToughnessID'); </script> </select> </td>
		<td> Grading <br>  <select id = "GradingID" name = "GradingID"><script> CreateRatingsSelect('GradingID'); </script> </select> </td>

	</tr>
	<tr>
		<td> </td>
		<td> Interest Level<br> <select id = "InterestID" name = "InterestID" ><script> CreateRatingsSelect('InterestID'); </script> </select> </td>
		<td> Workload  <br> <select id = "WorkloadID" name = "WorkloadID"><script> CreateRatingsSelect('WorkloadID'); </script> </select> </td>

	</tr>
	<tr>
		<td> </td>
		<td> Was the Textbook necessary? <br>
			<select id = "TextbookNeeded" name = "TextbookNeeded"> 
				<option value = '-- select an option --'> -- select an option -- </option>
				<option value = "1"> Yes </option>
				<option value = "0"> No </option>
			</select>
 		</td>
		<td> Quality <br> <select style = "float: top;" id = "QualityID" name = "QualityID"><script> CreateRatingsSelect('QualityID'); </script> </select> </td>
	</tr>
	<tr>
		<td> </td>
		<td> </td>
		<td> Accessibility <br> 
			<select id = "AccessibilityID" name = "AccessibilityID">
				<script> CreateRatingsSelect('AccessibilityID'); </script>
			</select>
		</td>
	</tr>
	<tr>
		<td> </td>
		<td> </td>
		<td> Was the Syllabus useful? <br> 
			<select id = "SyllabusID" name = "SyllabusID">
				<option> -- select an option -- </option>
				<option value = "0"> Never used it </option>
				<option value = "1"> It came in handy at times </option>
				<option value = "2"> It's your lifeline </option>
			</select>
		</td>
	</tr>

	<tr> 
		<td> </td>
		<td>Description of Course (optional)<br> <textarea  style = "height: 100px; width: 270px;" id = "OptionalResponseCourse" name = "OptionalResponseCourse" > </textarea> </td>
		<td> Description of Professor (optional)<br> <textarea  style = "height: 100px; width: 270px;" id = "OptionalResponseProfessor" name = "OptionalResponseProfessor" > </textarea> </td>
	</tr>
</table>
	<input type='submit' required>
</form>

{% endblock %}