{% extends "layout.html" %}
  
{% block content %}
<h3 align = "center"> Buy and Sell textbooks here </h3>

<div class = "row">
	  <a class="waves-effect waves-light btn-large" align = "center" href= "/Textbooks/NewTextbook"> <i class="material-icons">add</i> Add your textbook </a>
</div>
<h3 align = "center"> Textbook Listings </h3>
<ul class="collection">
      {% for textbook in textbooks %}
      	<li class = 'collection-item'> 
      		Textbook title: {{textbook['title']}} <br>
      		Course: {{textbook['course']}}<br>
      		Price listed: {{textbook['price']}}<br>
      		Textbook description: {{textbook['description']}}<br>
      		Date Listed: {{textbook['date']}}
      		<a href="/Textbooks/ID={{textbook['ID']}}" class="secondary-content"><i class="material-icons">send</i> Click here to contact the seller!</a>
      	</li>
      {% endfor %}
</ul>

{% endblock %}
