{% extends "layout.html" %}
  
{% block content %}
<h3 align = "center"> Buy and Sell textbooks here </h3>

<div class = "row">
<input class="btn btn-large blue lighten-2 centerButton" style="display:block;" onclick = "window.location = '/Textbooks/NewTextbook';"value="Add Textbook listing"></input>
</div>


<style>
  div.recent_reviews {
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;

}
</style>
<div class = "row">
  <div class="card lighten-2 recent_reviews col s12">
    <h3 align="center">Textbook Listings</h3>
   <table class="striped">
     <thead>
       <tr>
         <th data-field="prof_name">Title</th>
         <th data-field="prof_review">Textbook Description</th>
         <th data-filed="prof_workload">Price Listed</th>
         <th data-field="prof_grading">Course</th>
         <th data-field="prof_quality">Date Listed</th>
       </tr>
     </thead>

     <tbody>
      {% for textbook in  textbooks%}
          <tr>
            <td> {{textbook['title']}}</td>
            <td> {{textbook['description']}}</td>
            <td> ${{textbook['price']}}</td>
            <td> {{textbook['course']}}</td>
            <td> {{textbook['date']}}</td>
            <td> <a href="/Textbooks/ID={{textbook['ID']}}" class="secondary-content"><i class="material-icons">send</i> Click here to contact the seller!</a></td>
          </tr>
      {% endfor %}
      </tbody>
   </table>
  </div>


<br>
<br>

{% endblock %}
